.footer{
    margin-top: 200px;
    background-color: $box-bg;
    &__wrapper{
        margin: 0 auto;
        padding: 35px 0;
        display: flex;
        max-width: 1440px;
        color: $hv-color2;
        font-family: 'Manrope', sans-serif;
    }
    &__iteams p
    {
        width: 540px;
        margin-top: 40px;
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 25px;
        color: #FFFFFF;
        mix-blend-mode: normal;
        opacity: 0.5;
    }
    &__text{
        display: flex;
        position: relative;
    }
    &__list{
        display: flex;
        gap: 34px;
        margin-left: 140px;
        a{
            color: #FFFFFF;
        }
    }
    &__svg{
        position: absolute;
        top: 205px;
        left: 1000px;
        display: flex;
        gap: 20px;
        width: 24px;
        height: 24px;
    }
    .sub{
        display: none;
    }
}

@media screen and (max-width:768px) and (min-width:481px) {
    .footer{
        margin-top: 100px;
        .container{
            max-width: 689px;
        }
        &__wrapper{
            padding: 60px 0 46px;
            max-width: 768px;
        }
        .sub{
            display: inline;
        }
        &__list_sub{
            display: flex;
            gap: 34px;
            margin-top: 32px;
            a{
                color: #FFFFFF;
            }
        }
        &__iteams p
        {
            width: 689px;
            margin-top: 32px;
        }
        &__iteams P:last-child{
            margin-top: 80px;
        }
        &__box{
            display: none;
        }
        &__svg{
            position: absolute;
            left: 550px;
            top: 275px;
        }
    }
}