.header{
    background-color: $box-bg;
    &__wrapper{
        margin: 0 auto;
        padding: 35px 0;
        display: flex;
        max-width: 1440px;
        color: $hv-color2;
        font-family: 'Manrope', sans-serif;
        img{
            margin-left: 243px;
        }
    }
    &__btn{
        display: none;
        background-color: $color2;
        border: none;
        height: 13px;
        margin-top: 20px;
    }
    &__list{
        display: flex;
        align-items: center;
        margin-left: 197px;
        gap: 34px;
        a{
            color: $hv-color2;
        }
    }
}

@media screen and (max-width:768px) and (min-width:481px) {
    .header{
        &__wrapper{
            padding: 37px 0;
            max-width: 689px;
            img{
                margin-left: 190px;
            }
        }
        &__btn{
            display: inline;
        }
        &__iteams{
            margin-left: 42px;
        }
        &__list li{
            display: none;
        }
        .container{
            max-width: 689px;
        }
    }
}

@media screen and (max-width:480px) and (min-width:320px) {
    .header{
        
        &__wrapper{
            padding: 32px 0;
            max-width: 375px;
        }
        &__btn{
            display: inline;
        }
        &__iteams{
            margin-left: 42px;
        }
        &__list li{
            display: none;
        }
        .container{
            max-width: 689px;
        }
    }
}